$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$size: 10vmin;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
}

a{
    color: royalblue;
}

.info {
    max-width: 600px;
    margin: 1rem auto;
    padding: 0 2rem;
    line-height: 1.2;
    > p {
        margin: .5rem 0;
    }
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    border: 1px solid gray;
    width: 5*$size;
    height: 5*$size;
    position: relative;
}

.box {
    width: $size;
    height: $size;
    overflow: hidden;
    position: relative;
    background: crimson;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: .9;
    &--1 {
        animation: anim 4s $easeOutQuart infinite;
        position: absolute;
        top: $size*0;
        left: $size*0;
    }
    &--computed {
        animation: anim-computed 4s linear infinite;
        background: black;
        color: white;
    }
}

@keyframes anim {
    0%,
    100% {
        transform: translate3d(0vmin, $size*4, 0)
    }
    20% {
        transform: translate3d($size*2, 0vmin, 0)
    }
    40% {
        transform: translate3d($size*4, $size*4, 0)
    }
    60% {
        transform: translate3d(0vmin, $size*2, 0)
    }
    80% {
        transform: translate3d($size*4, $size*2, 0)
    }
}